<mat-card class="my-story mat-elevation-z5">
    <mat-card-title>
        <h2>whoami</h2>
        <p><b>{{ about.name }}</b>, a <b>{{ about.status }}</b>.</p>
    </mat-card-title>
</mat-card>

<mat-card class="my-story mat-elevation-z5">
    <mat-card-title>
        <h2>Skills</h2>
    </mat-card-title>


    <div class="skills-container">
        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Front-End Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of frontendSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Back-End Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of backendSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Database Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of databaseSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Other Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of otherSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>
<mat-card class="my-work-experience mat-elevation-z5">
    <mat-card-title>
        <h2>Work Experience</h2>
    </mat-card-title>

    <div class="experience-container">
        <mat-card class="experience-card mat-elevation-z5" *ngFor="let company of workExperience">
            <mat-card-title>
                <h3>{{ company.name }}</h3>
                <p>{{ company.role }}</p>
            </mat-card-title>
            <mat-card-subtitle>
                <p>{{ company.date }}</p>
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{ company.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>

<mat-card class="home-setup-card mat-elevation-z5">
    <mat-card-title>
        <h2>Personal Machine Setup</h2>
    </mat-card-title>
    <mat-card-subtitle>
        <p>In case you were wondering</p>
    </mat-card-subtitle>
    <mat-card-content>
        <p><b>Operating System:</b> {{ laptopSetup.operatingSystem }}</p>
        <p><b>Text Editor I love:</b> {{ laptopSetup.textEditor }}</p>
        <p><b>IDE's I love:</b> {{ laptopSetup.IDE }}</p>
        <p><b>Desktop Environment:</b> {{ laptopSetup.desktopEnvironment }}</p>
    </mat-card-content>
</mat-card>