<mat-card class="my-story mat-elevation-z5">
    <mat-card-title>
        <h2>whoami</h2>
        <p><b>Muhammad Shehriyar Qureshi</b>, a <b>Self-Taught Software Developer</b>.</p>
    </mat-card-title>
</mat-card>

<mat-card class="my-story mat-elevation-z5">
    <mat-card-title>
        <h2>Skills</h2>
    </mat-card-title>


    <div class="skills-container">
        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Front-End Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of frontendSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Back-End Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of backendSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Database Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of databaseSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="skill-card mat-elevation-z5">
            <mat-card-title>
                <h2>Other Skills</h2>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of otherSkills">
                        <p>{{ skill }}</p>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>
<mat-card class="my-work-experience mat-elevation-z5">
    <mat-card-title>
        <h2>Work Experience</h2>
    </mat-card-title>

    <div class="experience-container">
        <mat-card class="experience-card mat-elevation-z5">
            <mat-card-title>
                <h3>TPL Maps Pvt Ltd</h3>
                <p>Software Engineer</p>
            </mat-card-title>
            <mat-card-subtitle>
                <p>April 2019 - Present</p>
            </mat-card-subtitle>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-card class="experience-card mat-elevation-z5">
                <mat-card-title>
                    <h3>Ufone</h3>
                    <p>Software Developer Intern</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>December 2018 - February 2019</p>
                </mat-card-subtitle>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
    </div>
</mat-card>

<mat-card class="home-setup-card mat-elevation-z5">
    <mat-card-title>
        <h2>Personal Machine Setup</h2>
    </mat-card-title>
    <mat-card-subtitle>
        <p>In case you were wondering</p>
    </mat-card-subtitle>
    <mat-card-content>
        <!-- hack for now, should use flex? -->
        <p><b>Operating System:</b> "btw I use Arch Linux"</p>
        <p><b>Text Editor/IDE I love:</b> Neovim for everything other than Java (Netbeans) and Angular (VSCode)</p>
        <p><b>Desktop Environment:</b> Gnome 3</p>
    </mat-card-content>
</mat-card>