<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-card class="contact-card mat-elevation-z5">
  <div class="contact-image">
    <img src="assets/images/profile_picture.jpg" class="contact-image" alt="Profile Picture">
  </div>
  <mat-card-title>
    <h2>Muhammad Shehriyar Qureshi</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <h3>{{ about.workExperience[0].role }} @ <a href="{{ about.workExperience[0].website }}">{{ about.workExperience[0].name }}</a></h3>
    <a href="{{ links.github }}" class="fa fa-github"></a>
    <a href="{{ links.medium }}" class="fa fa-medium"></a>
    <a href="{{ links.linkedin }}" class="fa fa-linkedin"></a>
    <a href="{{ links.email }}" class="fa fa-envelope"></a>
  </mat-card-subtitle>
</mat-card>