<div class="top-row">
  <div class="contact-button">
    <button class="btn btn-outline-primary button-responsive" routerLink="/contact">Let's talk</button>
  </div>
</div>

<div class="text-center">
  <p style="font-size: 40px"><b>{{ about.about.status }}</b></p>
  <p style="font-size: 30px">I tell computers and browsers to do stuff.</p>
</div>

<div class="introduction" style="z-index: 0">
  <div class="text-center"
    style="margin-top: 5%; padding-top: 5%; padding-bottom: 5%;margin-left: 2%; margin-right: 2%">
    <p style="font-size: 30px">I'm<br><b>{{ about.about.name }}</b></p>
    <p style="font-size: 20px;margin-left: 15%;margin-right: 15%; margin-bottom: 16%">{{ about.about.introduction }}
    </p>
  </div>
</div>

<mat-card class="my-story mat-elevation-z5" style="z-index: 1; margin-top: -15%">
  <mat-card-title>
    <h2>Skills</h2>
  </mat-card-title>


  <div class="skills-container">
    <mat-card class="skill-card mat-elevation-z5">
      <mat-card-title>
        <h2>Front-End Skills</h2>
      </mat-card-title>
      <mat-card-content>
        <p class="skills" *ngFor="let skill of about.frontendSkills">{{ skill }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card mat-elevation-z5">
      <mat-card-title>
        <h2>Back-End Skills</h2>
      </mat-card-title>
      <mat-card-content>
        <p class="skills" *ngFor="let skill of about.backendSkills">{{ skill }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="skill-card mat-elevation-z5">
      <mat-card-title>
        <h2>Database Skills</h2>
      </mat-card-title>
      <mat-card-content>
        <p class="skills" *ngFor="let skill of about.databaseSkills">{{ skill }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="skill-card mat-elevation-z5">
      <mat-card-title>
        <h2>Other Skills</h2>
      </mat-card-title>
      <mat-card-content>
        <p class="skills" *ngFor="let skill of about.otherSkills">{{ skill }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>



<div class="introduction">
  <div class="text-center" style="margin-top: 3%">
    <h2 class="heading" style="padding-top: 3%">Work Experience</h2>
  </div>
  <div class="text-center" style="z-index: 0">
    <p style="padding-top: 5%; padding-bottom: 16%; font-size: 25px">{{ about.about.workPreference }}</p>
  </div>
</div>

<mat-card class="experience-container d-flex flex-column mat-elevation-z5" style="z-index: 1; margin-top: -10%">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab *ngFor="let experience of about.workExperience" label="{{ experience.name}}">

      <div class="d-flex flex-column">
        <mat-card class="experience-card mat-elevation-z5">
          <mat-card-content>
            <div class="experience-card-content">
              <div class="work-image-container">
                <img class="work-image" src="{{ experience.workImage }}" alt="">
              </div>
              <div class="text-center" style="margin-right: auto; margin-left: auto; width: 70%">
                <img src="{{ experience.image }}" alt="">
                <h2>{{ experience.role }}</h2>
                <!-- <b style="font-size: 20px"><b>{{ experience.name }}</b></p> -->
                <p><i>{{ experience.date }}</i></p>
                <p class="work-description-padding">{{ experience.description }}</p>
                <p>Technologies:</p>
                <p><b>{{ experience.technologies.join(', ') }}</b></p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!-- <div *ngFor="let experience of about.workExperience" class="d-flex flex-column">
        <mat-card class="experience-card mat-elevation-z5">
            <mat-card-content>
                <div class="experience-card-content">
                    <div class="work-image-container">
                        <img class="work-image" src="{{ experience.workImage }}" alt="">
                    </div>
                    <div class="text-center" style="margin-right: auto; margin-left: auto; width: 70%">
                        <h2>{{ experience.role }}</h2>
                        <img src="{{ experience.image }}" alt="">
                        <p style="font-size: 20px"><b>{{ experience.name }}</b></p>
                        <p><i>{{ experience.date }}</i></p>
                        <p class="work-description-padding">{{ experience.description }}</p>
                        <p>Technologies:</p>
                        <p><b>{{ experience.technologies.join(', ') }}</b></p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
</mat-card>


<div class="projects">
  <mat-card class="project mat-elevation-z5">
    <mat-card-title>
      <h2>Projects</h2>
    </mat-card-title>

    <div class="projects-container">

      <mat-card class="project-card mat-elevation-z5" *ngFor="let project of projects" (click)="goToLink(project.link)">
        <mat-card-title>
          <p class="heading-responsive">{{ project.name }}</p>
        </mat-card-title>
        <mat-card-subtitle>
          <h3>{{ project.type }}</h3>
        </mat-card-subtitle>
        <img mat-card-image src="{{ project.image }}" alt="">
        <mat-card-content>
          <p style="font-size: 20px">{{ project.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>

</div>

<mat-card class="home-setup-card mat-elevation-z5">
  <mat-card-title>
    <h2>Personal Machine Setup</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <p>In case you were wondering</p>
  </mat-card-subtitle>
  <mat-card-content>
    <p><b>Operating System:</b> {{ about.laptopSetup.operatingSystem }}</p>
    <p><b>Text Editor I love:</b> {{ about.laptopSetup.textEditor }}</p>
    <p><b>IDE's I love:</b> {{ about.laptopSetup.IDE }}</p>
    <p><b>Desktop Environment:</b> {{ about.laptopSetup.desktopEnvironment }}</p>
  </mat-card-content>
</mat-card>
