<mat-card class="greeting-card">
    <mat-card-title>
        <h1>السَّلَامُ عَلَيْكُمْ</h1>
    </mat-card-title>
</mat-card>

<mat-card class="project">
    <mat-card-title>
        <h2>Projects</h2>
    </mat-card-title>

    <div class="projects-container">

        <mat-card class="project-card">
            <mat-card-title>
                <h3>Tuition Manager</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Open Source</h3>
            </mat-card-subtitle>
            <img mat-card-image src="assets/images/tuition-manager.png" alt="Tuition Manager Image">
            <mat-card-content>
                <p>This was my first ever <b>big?</b> programming project.
                    I started learning to code in Python and I developed this project
                    to get an understanding of programming basics and how I/O and stuff
                    works.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="project-card">
            <mat-card-title>
                <h3>employeeManager</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>PTCL</h3>
            </mat-card-subtitle>
            <img mat-card-image src="assets/images/employeeManager.png" alt="employeeManager Image">
            <mat-card-content>
                <p>This was my first demo project to learn Java. It's really really
                    bad but I still have it up for memories.</p>
            </mat-card-content>
        </mat-card>


        <mat-card class="project-card">
            <mat-card-title>
                <h3>Mobile Connect Profile</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Ufone</h3>
            </mat-card-subtitle>
            <mat-card-content>
                <p>Base Implementation of GSMA Mobile Connect Profile I designed &
                    developed to be integrated into Ufone's Middleware.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="project-card">
            <mat-card-title>
                <h3>historia</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Open Source</h3>
            </mat-card-subtitle>
            <mat-card-content>
                <p>A Python module which implements temporal tables using python's
                    built-in sqlite3 module.</p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>