.introduction {
  background-color: rgb(159, 0, 190);
  color: white;
}

.greeting-card {
  max-width: 30%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.simple-card {
  max-width: 50%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  @media screen and (max-width: 800px) {
    max-width: 90%;
  }
}

.welcome {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.project {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.projects-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.project-card {
  margin: 0.5em;
  width: 80%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media screen and (max-width: 1050px) {
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.skill-card {
  margin: 0.5em;
  width: 80%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media screen and (max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.my-story {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.my-work-experience {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.experience-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.experience-card {
  margin: 0.5em;
  width: 80%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media screen and (max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.home-setup-card {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}