<mat-card class="greeting-card mat-elevation-z5">
    <mat-card-title>
        <h2>السَّلَامُ عَلَيْكُمْ</h2>
    </mat-card-title>
</mat-card>

<mat-card class="simple-card mat-elevation-z5">
    <mat-card-title>
        <h2>whoami</h2>
        <p><b>{{ about.about.name }}</b>, a <b>{{ about.about.status }}</b></p>
    </mat-card-title>
</mat-card>

<mat-card class="project mat-elevation-z5">
    <mat-card-title>
        <h2>Projects</h2>
    </mat-card-title>

    <div class="projects-container">

        <mat-card class="project-card mat-elevation-z5" *ngFor="let project of projects" (click)="goToLink(project.link)">
            <mat-card-title>
                <h3>{{ project.name }}</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>{{ project.type }}</h3>
            </mat-card-subtitle>
            <img mat-card-image src="{{ project.image }}" alt="">
            <mat-card-content>
                <p>{{ project.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>