.introduction {
  background-color: rgb(159, 0, 190);
  color: white;
}

.greeting-card {
  max-width: 30%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.simple-card {
  max-width: 50%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  @media screen and (max-width: 800px) {
    max-width: 90%;
  }
}

.welcome {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.project {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // margin-top: -16%;
  margin-bottom: 3%;
}

.projects-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.project-card {
  margin: 0.5em;
  width: 80%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media screen and (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.skills {
  font-size: 20px;
}

.skill-card {
  margin: 0.5em;
  width: 80%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media screen and (max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.my-story {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.my-work-experience {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.experience-container {
  justify-content: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.experience-card {
  margin: 0.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // margin-left: 0.5em;
  // margin-right: 0.5em;
  border-radius: 10px;
  @media screen and (max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.home-setup-card {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.heading-responsive {
  font-size: 30px;
  @media screen and (max-width: 800px) {
  font-size: 20px;
  }
}

.contact-button {
  text-align: right;
  @media screen and (max-width: 800px) {
  text-align: center;
  }
}

.button-responsive {
  margin-right: 15%;
  @media screen and (max-width: 800px) {
    margin-right: auto;
  }
}

.heading {
  font-size: 40px;
}

.experience-container {
  max-width: 90%;
  margin: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.experience-card-content {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .work-image-container {
    width: 50%;
    height: 100%;

    @media screen and (max-width: 800px) {
      height: 100%;
      width: 100%;
    }
  }

  .work-image {
  width: 100%;
  height: 100%;
  border-radius: 10px
  }
  @media screen and (max-width: 800px) {
  }
}

.work-description {
  padding-left: 10%;
  padding-right: 10%;
}